<?xml version="1.0" ?>
<launch>

    <param name="air_pressure" value="0.377999"/>
    <param name="standard_soundSpeed" value="1480"/>
    <param name="z_B_D" value="0.391"/>
    <param name="filter_velocity" value="true"/>
    <node name="proc_dvl_node" pkg="rov_processing" type="proc_dvl_serial"  output="screen">
        <remap from="/bottom_track" to="/rov/sensors/dvl/bottom_track"/>
        <remap from="/current_profile" to="/rov/sensors/dvl/current_profile"/>
    </node>

</launch>    