<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- ++++++++++++++++++++++++++++++++++++++ Helpers +++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <!-- ==================== Data Helper: load information ==================== -->

  <!-- ========== Data: 3_29 ==========  -->

  <arg name="config_path" default="$(find msckf_dvio)/config/Alaska/3_29"/>
  <arg name="bag" 
       default="/home/lin/develop/data/underIce/alaska/03_29/full_imgCompressed_dvlRecoveried_timeRestamped_timeSync.bag" />
  <arg name="bag_start" default="47" /> 

  <!-- ========== Data: 3_30 ==========  -->

  <!-- <arg name="config_path" default="$(find msckf_dvio)/config/Alaska/3_30"/>
  <arg name="bag" 
       default="/home/lin/develop/data/underIce/alaska/03_30/full_dvlCorrect_timeRestamp_imgCompressed_timeSync.bag" />
  <arg name="bag_start" default="50" />  -->

  <!-- ========== play rosbag ==========  -->

  <node pkg="rosbag" type="play" name="rosbag" args="--pause --clock -d 1 -s $(arg bag_start) $(arg bag)" required="true"/>

  <!-- ==================== DVL Helper: raw -> navigation data  ==================== -->

  <node name="dvl_helper_node" pkg="msckf_dvio" type="dvl_helper_node" output="screen" >
      <remap from="/alaska/bt" to="/rov/sensors/dvl/df21/df21_sync"/>
      <remap from="/alaska/cp" to="/rov/sensors/dvl/df3/df3_sync"/>

      <remap from="/velocity" to="/rov/sensors/dvl/buttom_track_velocity"/>
      <remap from="/pressure" to="/rov/sensors/dvl/pressure"/>
      <remap from="/pointcloud" to="/rov/sensors/dvl/pointcloud"/>
  </node>

  <!-- ==================== Camera Helper: Decompress ==================== -->

  <node name="right_republish" type="republish" pkg="image_transport" output="screen"
          args="compressed  in:=/rov/sensors/stereo/right/image_raw_sync 
              raw        out:=/rov_remote/sensors/stereo/right/image_decompressed" />

  <node name="left_republish" type="republish" pkg="image_transport" output="screen"
          args="compressed  in:=/rov/sensors/stereo/left/image_raw_sync
              raw        out:=/rov_remote/sensors/stereo/left/image_decompressed" />

  <!-- ==================== URDF Helper ==================== -->

    <include file="$(find msckf_dvio)/launch/Alaska/urdf_alaska.launch"/>


  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <!-- ++++++++++++++++++++++++++++++++++++++ Main MSCKF Section ++++++++++++++++++++++++++++++++++++++ -->
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

  <!-- ==================== Parmaters ==================== -->

  <arg name="system_yaml" default="$(arg config_path)/dvl_nocalib/system.yaml"/>
  <arg name="prior_yaml" default="$(arg config_path)/dvl_nocalib/prior.yaml"/>
  <arg name="init_yaml" default="$(arg config_path)/dvl_nocalib/init.yaml"/>
  <arg name="image_yaml" default="$(arg config_path)/dvl_nocalib/image.yaml"/>

  <!-- ==================== MSCKF node ==================== -->

  <!-- build with flag: -DCMAKE_BUILD_TYPE=Debug -->
  <!-- add to roslaunch: launch-prefix="gdb -ex run -1-args" -->
  <!-- type: bt -->
  <node name="dvio_node" pkg="msckf_dvio" type="dvio_node" output="screen" >
      <rosparam command="load" file="$(arg system_yaml)"/>
      <rosparam command="load" file="$(arg prior_yaml)"/>
      <rosparam command="load" file="$(arg init_yaml)"/>
      <rosparam command="load" file="$(arg image_yaml)"/>

      <remap from="odom" to="/msckf/odom"/>
      <remap from="path" to="/msckf/path"/>
  </node>


  <!-- ==================== Visualization ==================== -->
  
  <node name="rviz" pkg="rviz" type="rviz"  
        args="--opengl 300 -d $(find msckf_dvio)/launch/rviz/msckf_dvio.rviz" /> 

    <!-- <node name = "plotjuggler_with_layout" 
          pkg  = "plotjuggler"
          type = "plotjuggler"
          args = "-!-layout $(find msckf_dvio)/launch/Alaska/plotjuggler.xml"/> -->

</launch>
