<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- publish the ground truth as path: not aligned -->
  <!-- <node name="truth_helper_node" pkg="sensor_helper" type="truth_helper_node" output="screen">
      <param name="frame_id" type="str" value="odom"/>
      <param name="truth_topic_point" type="str" value="/leica/position"/>
  </node> -->

</launch>
